/* Toute la page */
body{
	font-family: Bahnschrift;
	margin: 0px;
	max-height: 100vh;
}

/* En-tête */
.header{
	padding: 20px 35px;
	height: 45px;
	display: block;
	position: sticky;
	position: -webkit-sticky;
	background: darkblue;
	border: 1px solid white;
	margin-bottom: 6px;
}
.header img:hover{
	cursor: pointer;
}
.header button{
	height: 40px;
	width: 90px;
	color: white;
	background-color: #E64E95;
	border-radius: 6px;
}
.header button:hover{
	cursor: pointer;
	color: #E64E95;
	background-color: white;
}

/* Page d'accueil */
.home{
	height: calc(100vh - 95px);
	margin: 0px 10px;
	gap: 15px 5px;
}
.home h1{
	font-size: 50px;
	color: #E64E95;
	margin: 35px;
}
.home p{
	color: darkblue;
	font-size: 20px;
	margin-left: 35px;
}
.button-center{
  display: flex;
	justify-content: center;
  align-items: center;
}
.button-center button{
	height: 50px;
	width: 430px;
	border-radius: 10px;
	font-size: 30px;
	color: white;
	background-color: #E64E95;
}
.button-center button:hover{
	cursor: pointer;
	color: #E64E95;
	background-color: white;
}

/* Partie centrale */
.true-body{
	display: flex;
	height: calc(100vh - 95px);
	margin: 0px 10px;
	gap: 15px 5px;
}
/* Largeur des images dans les box */
.deposer{
	border: 2px #E64E95 solid;
	display: inline-block;
	flex: 50%;
	max-height: calc(100vh - 110px);
	overflow: auto;
	scrollbar-color: darkblue #E64E95;
	scrollbar-width: thin;
}
.deposer::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: #E64E95; /* or add it to the track */
}
.deposer::-webkit-scrollbar-thumb{
	background: darkblue;
}
/* Style des divs pour une chanson */
.song{
	background-color: aliceblue;
	border: 2px darkblue solid;
	margin: 5px 10px;
	padding: 7px;
	display: grid;
	grid-template-columns: 20px 120px 1fr 30px;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
}
.song:hover{
	cursor: move;
}
.song-image{
	grid-area: 1 / 2 / 4 / 3;
	height: 120px;
	user-select: none;
}
.song-title{
	margin: 7px 0px 8px 0px;
	font-size: 20px;
	font-weight: bold;
	color: darkblue;
	grid-area: 1 / 3 / 2 / 4;
	user-select: none;
}
.song-artist{
	margin: 0px;
	color: darkblue;
	grid-area: 2 / 3 / 3 / 4;
	user-select: none;
}
.trash{
	grid-area: 1 / 4 / 4 / 5;
	margin: 5px 5px 0px 0px;
	width: 30px;
	height: 30px;
}
.trash:hover{
	cursor: pointer;
}
.move{
	grid-area: 1 / 1 / 4 / 2;
	width: 20px;
	height: 20px;
	align-self: center;
}
.move:hover{
	cursor: grab;
}
.play{
	align-self: center;
	grid-area: 1 / 4 / 4 / 5;
	width: 30px;
	height: 30px;
}
.play:hover{
	cursor: pointer;
}

/* Style pour le drag and drop */
.bouger{
	float: none;
}
.ui-droppable-hover{
	background-color: rgba(245, 218, 223, 0.3);
}