/* Toute la page */
body{
	font-family: Bahnschrift;
	margin: 0px;
	max-height: 100vh;
}
hr{
	border: 1px solid darkblue;
}

/* En-tête */
.header{
	padding: 20px 35px;
	height: 45px;
	display: block;
	position: sticky;
	position: -webkit-sticky;
	background: darkblue;
	border: 1px solid white;
}
.header img:hover{
	cursor: pointer;
}
.header button{
	height: 40px;
	width: 130px;
	color: white;
	background-color: #E64E95;
	border-radius: 6px;
}
.header button:hover{
	cursor: pointer;
	color: #E64E95;
	background-color: white;
}

/* Page d'accueil */
.home{
	height: calc(100vh - 95px);
	margin: 0px 10px;
	gap: 15px 5px;
}
.home h1{
	font-size: 50px;
	color: #E64E95;
	margin: 35px;
}
.home p{
	color: darkblue;
	font-size: 20px;
	margin-left: 35px;
}
.button-center{
  display: flex;
	justify-content: center;
  align-items: center;
}
.button-center button{
	height: 50px;
	width: 430px;
	border-radius: 10px;
	font-size: 30px;
	color: white;
	background-color: #E64E95;
}
.button-center button:hover{
	cursor: pointer;
	color: #E64E95;
	background-color: white;
}


/* Page de sélection des playlists */
#create{
	padding: 10px 0px 0 40px;
}
#create button{
	height: 45px;
	width: 200px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	background-color: #E64E95;
}
#create button:hover{
	cursor: pointer;
	color: #E64E95;
	background-color: white;
}
#playlists{
	display: flex;
	padding: 5px;
}
.list{
	margin: 0 5px;
	border: 3px solid #E64E95;
	display: grid;
	grid-template-columns: 150px 1fr 5px;
	grid-template-rows: 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 0px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.list-image{
	height: 150px;
	width: 150px;
	grid-area: 1 / 1 / 2 / 2;
}
.list-name{
	margin: 7px 0px 8px 0px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: darkblue;
	user-select: none;
	grid-area: 1 / 2 / 2 / 3;
}


/* Page de création des playlists */
/* Partie avec tous les boutons */
.zone-header{
	display: flex;
	margin: 0px 20px;
	gap: 25px 5px;
}
.zone-header p, label, input[type = text]{
	padding: 2px 5px;
	color: darkblue;
}
.zone-header select{
	color: white;
	background-color: #00008BD8;
	border-radius: 6px;
}
.zone-header p{
	font-size: 20px;
	margin: 10px 0 16px;
	text-decoration: underline;
}
.zone-header button, input[type = submit]{
	color: white;
	background-color: #E64E95;
	border-radius: 6px;
	padding: 2px 5px;
}
.zone-header button:hover, input[type = submit]:hover{
	color: #E64E95;
	background-color: white;
	cursor: pointer;
}
#leftzone-header{
	flex: 50%;
	display: inline-block;
}
#dropzone-header{
	flex: 50%;
	display: inline-block;
}

/* Partie avec le drag & drop */
.true-body{
	display: flex;
	height: calc(100vh - 225px);
	margin: 10px 10px 0;
	gap: 15px 5px;
}
/* Largeur des images dans les box */
.deposer{
	border: 2px #E64E95 solid;
	display: inline-block;
	flex: 50%;
	max-height: calc(100vh - 110px);
	overflow: auto;
	scrollbar-color: darkblue #E64E95;
	scrollbar-width: thin;
}
.deposer::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: #E64E95; /* or add it to the track */
}
.deposer::-webkit-scrollbar-thumb{
	background: darkblue;
}
/* Style des divs pour une chanson */
.song{
	background-color: aliceblue;
	border: 2px darkblue solid;
	margin: 5px 10px;
	padding: 7px;
	display: grid;
	grid-template-columns: 20px 120px 1fr 30px;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
}
.song:hover{
	cursor: move;
}
.song-image{
	grid-area: 1 / 2 / 4 / 3;
	height: 120px;
	user-select: none;
}
.song-title{
	margin: 7px 0px 8px 0px;
	font-size: 20px;
	font-weight: bold;
	color: darkblue;
	grid-area: 1 / 3 / 2 / 4;
	user-select: none;
}
.song-artist{
	margin: 0px;
	color: darkblue;
	grid-area: 2 / 3 / 3 / 4;
	user-select: none;
}
.trash{
	grid-area: 1 / 4 / 4 / 5;
	margin: 5px 5px 0px 0px;
	width: 30px;
	height: 30px;
}
.trash:hover{
	cursor: pointer;
}
.move{
	grid-area: 1 / 1 / 4 / 2;
	width: 20px;
	height: 20px;
	align-self: center;
}
.move:hover{
	cursor: grab;
}
.play{
	align-self: center;
	grid-area: 1 / 4 / 4 / 5;
	width: 30px;
	height: 30px;
}
.play:hover{
	cursor: pointer;
}

/* Style pour le drag and drop */
.bouger{
	float: none;
}
.ui-droppable-hover{
	background-color: rgba(245, 218, 223, 0.3);
}