/* En-tête */
.header{
	padding: 20px 35px;
	height: 45px;
	display: block;
	background: darkblue;
	border: 1px solid white;
	margin-bottom: 6px;
}
.header button{
	height: 40px;
	width: 90px;
	color: white;
	background-color: deeppink;
	border-radius: 6px;
}
.header button:hover{
	color: deeppink;
	background-color: white;
}

/* Partie centrale */
.true-body{
	display: flex;
	height: calc(100vh - 110px);
	gap: 15px 5px;
}
.true-body h1{
	font-family: fantasy;
	font-size: 50px;
	color: deeppink;
	margin: 35px;
}
/* Largeur des images dans les box */
.true-body img{
	width: 200px;
}
#leftzone{
	border:  2px deeppink solid;
	display: inline-block;
	flex: 50%;
}
#dropzone{
	border:  2px deeppink solid;
	display: inline-block;
	flex: 50%;
}

/* Style pour le drag and drop */
.bouger{
	float: none;
	width: 200px;
	display: inline-block;
}
.ui-droppable-hover{
	background-color: rgba(245, 218, 223, 0.3);
}